<article class="article-profile" id="profile">
  <h1>DESARROLLADOR FULL STACK</h1>
  <p>
    Soy un apasionado desarrollador full stack, profundamente comprometido con la innovación tecnológica.
    Con una sólida formación en el desarrollo tanto del front-end como del back-end,
    encuentro mi verdadera pasión en la creación de soluciones tecnológicas que
    impacten de manera positiva en la vida de las personas.
    Constantemente buscando aprender y mejorar mis habilidades,
    estoy emocionado por contribuir al avance continuo en el mundo de la tecnología.
  </p>
</article>
