<section class="main-landing__section-intro" id="about-me">
  <div class="main-landing__welcome">
    <p>HOLA, MI NOMBRE ES</p>
    <div class="main-landing__section-intro--links">
      <h1>ANDRES VEGA</h1>
      <nav>
        <ul class="main-landing__section-intro__networking">
          <li>
            <a href="https://github.com/jandres-vega" rel="noreferrer" target="_blank">
              <i class="fa-brands fa-github fa-2xl"></i>
            </a>
            Github
          </li>
          <li>
            <a href="https://www.linkedin.com/in/jandres-vega/" target="_blank">
              <i class="fa-brands fa-linkedin fa-2xl"></i>
            </a>
            LinkedIn
          </li>
          <li>
            <a href="./assets/images/Hoja%20de%20Vida.pdf" download>
              <i class="fa-solid fa-download fa-2xl"></i>
            </a>
            Hoja de vida
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <section class="main-landing__img-profile">
    <figure>
      <img src="./assets/images/foto%20perfil.jpeg" alt="imagen de perfil">
    </figure>
    <p class="main-landing__section-intro__parra">TECNOLOGO EN ANALISIS Y DESARROLLO DE SOFTWARE</p>
  </section>
</section>
