<article class="section-projects__card">
  <h3>Nombre del proyecto</h3>
  <figure class="section-projects__img-project">
    <img src="https://assets.asana.biz/m/2729b34d99aa7f91/webimage-article-project-planning-project-design-2x.jpg" alt="imagen del projecto">
  </figure>
  <footer>
    <nav>
      <ul class="section-projects__technology">
        <li>
          <img src="./assets/iconos/tech/react.svg" alt="icono de react" >
        </li>
        <li>
          <img src="./assets/iconos/tech/node.svg" alt="icono de node js" >
        </li>
        <li>
          <img src="./assets/iconos/tech/redux.svg" alt="icono de redux" >
        </li>
        <li>
          <img src="./assets/iconos/tech/mysql.svg" alt="icono de mysql">
        </li>
      </ul>
    </nav>
  </footer>
</article>
