/*:root {*/
/*  --color1: #000000;*/
/*  --color2: #0000EE;*/
/*  --color3: #007AFF;*/
/*  --color4: #00FF15;*/
/*  --color6: #0F0F0F;*/
/*  --color7: #CCCCCC;*/
/*  --color8: #DDFF00;*/
/*  --color9: #FFAC00;*/
/*  --color11: #27AE60;*/
/*  --color14: #00000000;*/
/*  --color15: #0D0D0D;*/
/*  --color16: #333333;*/
/*  --color17: #999999;*/
/*  --color18: #FFFFFF;*/
/*}*/

.section-projects__card {
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-width: 100%;
  padding: 20px;
  background-color: #0F0F0F;
  border-radius: 20px;
  background-image: radial-gradient(circle, rgba(51, 51, 51, 0.5) 45%, rgba(15, 15, 15, 0.51) 75%);
  cursor: pointer;
  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #DDFF00;
  }
  &:hover {
    padding: 30px;
    -webkit-transition: 1s linear;
    transition: 1s linear;
  }
}
.section-projects__img-project {
  height: 200px;
  img {
    width: 100%;
    height: 100%;
  }
}
.section-projects__technology {
  display: flex;
  justify-content: space-around;
  li {
    list-style: none;
  }
}

.section-projects__card-footer {
  background-color: #00000000;
}
