<footer class="footer" id="contact">
  <section class="footer__section-contact">
    <ul >
      <li>
        <a href="">
          <i class="fa-brands fa-square-instagram fa-2xl"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa-brands fa-facebook fa-2xl"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa-regular fa-envelope fa-2xl"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa-brands fa-twitter fa-2xl"></i>
        </a>
      </li>
    </ul>
  </section>
  <p>©2024 Andres Vega</p>
  <p>Todos los Derechos Reservados </p>
</footer>
