<header class="header">
  <figure class="header__container-img">
    <img class="header__logo" src="./assets/logos/logo-portafolio.png" alt="logo para portafolio" >
  </figure>
  <nav class="nav-header">
    <ul class="header__menu">
      <li class="header__item">
        <a href="#main">Inicio</a>
      </li>
      <li class="header__item">
        <a href="#proyectos">Proyectos</a>
      </li>
      <li class="header__item">
        <a href="#about-me">Sobre mi</a>
      </li>
      <li class="header__item">
        <a href="#contact">contactame</a>
      </li>
    </ul>
    <i class="fa-solid fa-bars fa-2xl"></i>
  </nav>
</header>
