.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(100px);
}
.header__container-img {
  width: 100px;
  margin: 0 80px 0 0;
  img {
    width: 100%;
  }
}

.header__icon{
  display: none;
}

@media screen and (max-width: 880px) {
  .header__icon {
    padding-right: 10px;
    display: block;
    color: #DDFF00;
    font-size: 40px;
  }
}
