.section-projects {
  margin-top: 100px;
  padding: 10px;
}
.section-projects__title {
  font-family: "Instrument Sans", "Instrument Sans Placeholder", sans-serif;
  font-weight: 900;
  font-size: 70px;
  text-align: center;
  color: #007AFF;
  margin-top: 10px;
}

.section-projects__container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
@media screen and (max-width: 800px) {
  .section-projects__container-cards{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .section-projects__container-cards{
    grid-template-columns: repeat(1, 1fr);
  }
  .section-projects__title {
    font-size: 40px;
  }
}
