.header__menu {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 2px;
  height: 100%;
}
.header__item {
  a {
    text-decoration: none;
    font-weight: lighter;
    font-size: 20px;
    margin-inline: 20px;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
  }
}
.header__item a:hover{
  border-bottom: solid 1px #FFAC00;
  background-image: linear-gradient(0deg, rgba(255, 172, 0, 0.39) 8%, rgba(15, 15, 15, 0.98) 82%);
  opacity: 1;
  border-bottom: solid 1px #FFAC00;
}
@media screen and (max-width: 880px) {
  .nav-header {
    display: flex;
    i {
      padding-right: 10px;
      display: block;
      color: #DDFF00;
      font-size: 40px;
    }
  }
  .header__menu {
    display: none;
  }
}
